body {
    position: absolute;
    background-color: darkgoldenrod;
    display: flex;
    height: 97%;
    width: 98%;
    align-items: center;
    justify-content: center;
}

ul {
    text-align: left;
    padding-left: 28%;
    padding-right: 10%;
}

input {
    display: inline-block
}

.character-icon {
    width: 90px;
    height: 100px;
    align-self: center;
}

.character-box {
    height: 110px;
}


.pre-game {
    display: block;
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
}


.game {
    display: none;
    height: 100%;
    width: 100%;
    margin: 0;
}


.hidden-door {
    visibility: hidden;
}


.top-part {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}


.text-section {
    display: flex;
    justify-content: center;
}

.text-section h2 {

}


.mid-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 100%;
}


.bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}


.up-door {
    position: relative;
}

.door-icon {
    padding-top: 10px;
    height: 120px;
    width: 100px;
}


.right-door {
    margin: 0;
    height: 135px;
}


.down-door {
    margin: 0;
    height: 135px;
}



.left-door {
    margin: 0;
    height: 135px;
}
